{% if field.value.snapshot is not empty %}
    {% for image in field.value.snapshot %}
        <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#ea-lightbox-{{ image.id }}" data-featherlight-close-on-click="anywhere">
            <img  style="width: 250px; height: 250px;" src="{{ image.getUri() ~ image.path }}">
        </a>

        <div id="ea-lightbox-{{ image.id }}" class="ea-lightbox">
            <img src="{{ image.getUri() ~ image.path }}">
        </div>
    {% endfor %}
{% else %}
    <span> No images </span>
{% endif %}
