.delete-image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.delete-image-container img {
    width: 200px;
    height: 200px;
}

.delete-image-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background-color: var(--color-danger);
    border-radius: 50%;
}

.delete-image-icon a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: medium;
}