{% if field.value.snapshot is not empty %}
    {% for meal in field.value.snapshot %}
        <div class="delete-image-container">
            <img src="{{ meal.getMealUrl() }}">
            <div id ="delete-image" class="delete-image-icon">
                <a href="{{ path('admin_delete_meal', { id: meal.getId() }) }}">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <span> No images </span>
{% endif %}

<script type="text/javascript">
    $(function() {
        $('#delete-image').on('click', function(e) {
            e.preventDefault();
            $('#modal-delete').modal({ backdrop: true, keyboard: true })
                .off('click', '#modal-delete-button')
                .on('click', '#modal-delete-button', function () {
                    window.location = $('#delete-image > a').attr('href');
                });
        });
    });
</script>