{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% if field.value is not empty %}
    {% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
    <div class="delete-image-container">
        <a href="#" class="ea-lightbox-thumbnail" data-featherlight="#{{ html_id }}" data-featherlight-close-on-click="anywhere">
            <img style="width: 250px; height: 250px;" src="{{ asset(field.value.url) }}" class="img-fluid">
        </a>

        <div id="{{ html_id }}" class="ea-lightbox">
            <img src="{{ asset(field.value.url) }}">
        </div>
    </div>
{% else %}
    <span> No Cover</span>
{% endif %}
