{#
{% extends '@EasyAdmin/page/content.html.twig' %}
#}

{% extends '@EasyAdmin/layout.html.twig' %}
{% set _content_title = 'Admin dashboard' %}
{#{% block page_title -%}
    {{ _content_title }}
{%- endblock %}
{% block content_header %}
    <h1 class="title">{{ _content_title }}</h1>
{% endblock %}#}

{%
    set url_event = ea_url()
    .setController('App\\Controller\\Admin\\EventCrudController')
    .setAction('index')
%}
{%
    set url_order = ea_url()
    .setController('App\\Controller\\Admin\\TorderCrudController')
    .setAction('index')
%}
{%
    set url_review = ea_url()
    .setController('App\\Controller\\Admin\\TicketRatingCrudController')
    .setAction('index')
%}
{%
    set url_customer = ea_url()
    .setController('App\\Controller\\Admin\\UserCrudController')
    .setAction('index')

%}
{% block main %}

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                TOTAL SALES
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ totalSales ~ " "~currencyCode }}</div>
                            <div class="h8 mb-0 font-weight-bold text-gray-400" style="font-size: x-small;"> -{{ totalSalesPlatformFees~currencyCode~ " Platform fees" }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                PAID ORDERS
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countPaidOrder }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cart-arrow-down fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                CUSTOMERS
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countCustomers }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                AVERAGE ORDER VALUE
                            </div>
                            {% set avgSale = (totalSales and countPaidOrder ? (totalSales/countPaidOrder) : 0) %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ (avgSale | number_format(2, '.', ',')) ~ " "~currencyCode }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-credit-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Sales summary</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area data-area-chart" data-sales-numbers="{{ graphSales.sales|json_encode|e('html_attr') }}" data-sales2022-numbers="{{ graphSales2022.sales|json_encode|e('html_attr') }}">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Color System -->
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card bg-light text-black shadow">
                <a class="btn btn-lg bg-light rounded" href="{{ url_event }}">
                <div class="card-body">
                    <i class="fas fa-calendar-check"></i> Events
                </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card bg-light text-black shadow">
                <a class="btn btn-lg bg-light rounded" href="{{ url_order }}">
                   <div class="card-body">
                       <i class="fas fa-shopping-cart"></i> Orders
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card bg-light text-black shadow">
                <a class="btn btn-lg bg-light rounded" href="{{ url_customer }}">
                    <div class="card-body">
                        <i class="fas fa-users"></i> Customers
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card bg-light text-black shadow">
                <a class="btn btn-lg bg-light rounded" href="{{ url_review }}">
                   <div class="card-body">
                       <i class="fas fa-newspaper"></i> Reviews
                   </div>
                </a>
            </div>
        </div>

    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">New customers</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, obj in latestCustomers %}
                                {% set url_show = ea_url()
                                    .setController('App\\Controller\\Admin\\UserCrudController')
                                    .setAction('detail')
                                    .setEntityId(obj.id)
                                %}
                                <tr>
                                    <td>{{ obj.fullname }}
                                        <div class="small text-gray-600">{{ obj.email }}</div>
                                    </td>
                                    <td></td>
                                    <td class="text-right"><a class="btn btn-lg bg-light text-black rounded" href="{{ url_show }}"><i class="fas fa-search"></i> show</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success"> New orders</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Order</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, obj in latestOrders %}
                                {% set url_show = ea_url()
                                    .setController('App\\Controller\\Admin\\TorderCrudController')
                                    .setAction('detail')
                                    .setEntityId(obj.id)
                                %}
                                <tr>
                                    <td>{{ obj.user.fullname }}
                                        <div class="small text-gray-600">{{ obj.user.email }}</div>
                                    </td>
                                    <td>{{ obj.itemsTotal ~ " "~currencyCode }}</td>
                                    <td class="text-right"><a class="btn btn-lg bg-light text-black rounded" href="{{ url_show }}"><i class="fas fa-search"></i> show</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


    </div>




{% endblock %}
