{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}


{% set html_id = 'ea-lightbox-' ~ field.uniqueId %}
<div><ul>
          <li>
               <p> {{ field.value[0].quantity }} Ticket(s) {{ field.value[0].ticket.type }}</p>
               <p> {{ field.value[0].ticket.eventDate.event.name }} at {{ field.value[0].ticket.eventDate.startDate | date('Y-m-d H:i:sP') }} </p>
               <p> {{ field.value[0].ticket.eventDate.address }}. </p>
          </li>
     </ul>
{#
     <p> {{ field.value[0].total }}</p>
     <p> {{ field.value[0].ticket.id }}</p>
     <p> {{ field.value[0].ticket.type }}</p>
     <p> {{ field.value[0].ticket.price }}</p>
     <p> {{ field.value[0].ticket.eventDate.startDate | date('Y-m-d H:i:s') }}</p>
     <p> {{ field.value[0].ticket.eventDate.endDate | date('Y-m-d H:i:s') }}</p>
     <p> {{ field.value[0].ticket.eventDate.address }}</p>
    <p> {{ field.value[0].ticket.eventDate.event.name }}</p>
#}

</div>
