{% if field.value is not empty %}

    {% if field.value == "requested" %}
        <span  class="btn btn-sm btn-warning custom-button rounded">
            <i class="fas fa-clock text-left"></i>    awaiting review
        </span>
    {% elseif field.value == "confirmed" %}
        <span class="btn btn-sm btn-success custom-button rounded">
            <i class="fas fa-check text-left"></i>    confirmed
        </span>
    {% else %}
        <span> No Value </span>
    {% endif %}

{% else %}
    <span> No Value </span>
{% endif %}
