{% if field.value is not empty %}

{% if field.value == "new" %}
        <span  class="btn btn-sm btn-info custom-button rounded">
            <i class="fas fa-inbox text-left"></i>    new
        </span>
{% elseif field.value == "request_payment" %}
        <span  class="btn btn-sm btn-warning custom-button rounded">
            <i class="fas fa-clock text-left"></i>    awaiting payment
        </span>
{% elseif field.value == "payment_nok" %}
        <span  class="btn btn-sm btn-danger custom-button rounded">
            <i class="fas fa-window-close text-left"></i>    failed
        </span>
{% elseif field.value == "request_payment_confirm" %}
        <span  class="btn btn-sm btn-warning custom-button rounded">
            <i class="fas fa-clock text-left"></i>    awaiting payment
        </span>
{% elseif field.value == "payment_ok" %}
       <span class="btn btn-sm btn-success custom-button rounded">
            <i class="fas fa-check text-left"></i>    paid
        </span>
{% else %}
    <span> No Value </span>
{% endif %}

{% else %}
    <span> No Value </span>
{% endif %}
